<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Team CaCl2 Control Panel</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <style>
    .v-enter-active,
    .v-leave-active {
      transition: opacity 0.5s ease;
    }

    .v-enter-from,
    .v-leave-to {
      opacity: 0;
    }
  </style>
</head>
<body>
<div class="container">
  <h1>チーム塩カル　コントロールパネル</h1>
  <div id="app">
    <button type="button" class="btn btn-primary" @click="send" :disabled="sendDisabled">
      <span v-if="sendDisabled" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      起動
    </button>
    <transition>
      <span v-if="sendMessage">
        送信しました
      </span>
    </transition>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script type="module">
  import { createApp, ref } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'
  import { RelayServer } from "https://chirimen.org/remote-connection/js/beta/RelayServer.js";
  const sleep = async (timeout = 1000) => new Promise(resolve => setTimeout(resolve, timeout));
  const relay = RelayServer("chirimentest", "chirimenSocket" , WebSocket, "https://chirimen.org");
  const channel = await relay.subscribe("cacl2-a695f3b2");
  console.log("web socketリレーサービスに接続しました");
  channel.onmessage = function () {
    console.log("メッセージを受信しました");
  };

  createApp({
    setup() {
      const sendMessage = ref(false)
      const sendDisabled = ref(false)

      async function send() {
        console.log("メッセージを送信します")
        sendDisabled.value = true
        sendMessage.value = false
        channel.send('hoge');
        await sleep()
        sendDisabled.value = false
        sendMessage.value = true
        await sleep()
        sendMessage.value = false
      }

      return {
        send,
        sendMessage,
        sendDisabled
      }
    }
  }).mount('#app')
</script>
</body>
</html>
